absl-py>=1.0.0
annotated-types
jsonschema-specifications
openai
pipdeptree
proto-plus
pydantic_core
pyproject_hooks
pyproject-toml
python-dotenv
python-multipart
pyzmq
rasa
shapely
smmap
sse-starlette
stack-data
tavily-python
tenacity
tokenizers
tomli
tomlkit
tornado
traitlets
typer
typing-inspect
uritemplate
virtualenv
watchfiles